{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": 0,
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }]
  },
  "globals": {
    "window": true,
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }]
  },
  "plugins": [
    "mocha"
  ]
}
