{
  "extends": ["airbnb", "plugin:lodash/recommended"],
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/mouse-events-have-key-events": 0,
    "react/no-danger": 0,
    "jsx-a11y/label-has-for": [
      2,
      {
        "components": [
          "Label"
        ],
        "required": {
          "every": [
            "id"
          ]
        },
        "allowChildren": false
      }
    ],
    "lodash/prefer-lodash-method": [2, {"ignoreObjects": ["React\\.Children", "component", "wrapper"]}],
    "max-len": [2, { "code": 100, "ignoreComments": true, "ignoreTemplateLiterals": true }],
    "react/sort-comp": 0,
    "react/jsx-one-expression-per-line": 0
  },
  "globals": {
    "Image": true,
    "window": true,
    "document": true
  },
  "plugins": [
    "mocha",
    "lodash"
  ]
}
