@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato/Lato-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato/Lato-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato/Lato-Light.ttf');
  font-weight: lighter;
  font-style: normal;
}

* {
  font-weight: normal;
  font-family: 'Lato', sans-serif;
}

html {
  background: #FEFEFE;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: inherit;
  color: #757F85;
}

#root,
main {
  height: inherit;
}

.small .emojione {
  width: 18px;
}

.medium .emojione {
  width: 20px;
}

.large .emojione {
  width: 24px;
}

a {
  text-decoration: none;
}

main > article {
  display: flex;
  height: calc(100% - 56px);
}

main > article > article {
  width: calc(100% - 200px);
  height: 100%;
  overflow-y: scroll;
  padding: 32px;
  box-sizing: border-box;
}

main > article article h1,
h2 {
  margin-top: 32px;
  font-weight: bold;
  margin-bottom: 16px;
  font-size: 18px;
}

.home > h1,
.doc > h1 {
  font-size: 22px;
  margin-top: 0;
}

.home a,
.doc a {
  font-weight: bold;
  color: #757F85;
}

h2 {
  font-weight: normal;
  font-size: 18px;
  margin-top: 16px;
}

h3 {
  font-size: 17px;
}

.doc > nav {
  width: 200px;
  border-right: 1px solid #DEDEDE;
  height: 100%;
  overflow-y: scroll;
}

p {
  margin: 0
}

main > article > article > section {
  margin-bottom: 16px;
}

main > article > article section:last-of-type {
  margin-bottom: 0;
}

table thead th {
  font-weight: bold;
  text-align: left;
}

th,
td {
  padding: 5px 20px 5px 0;
}

tr {
  border-bottom: 1px solid;
}

.github {
  width: 24px;
}

.markdown {
  padding: 15px;
  background: #F7F7F7;
  margin: 16px 0;
  width: auto;
}

.markdown * {
  font-family: 'Inconsolata', monospace;
}

pre {
  margin: 0;
}

code {
  color: #1BA6C4;
}

tbody tr td:nth-of-type(2) {
  text-transform: capitalize;
}
