@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato/Lato-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato/Lato-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato/Lato-Light.ttf');
  font-weight: lighter;
  font-style: normal;
}

* {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}

html {
  background: #FEFEFE;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: inherit;;
}

#root,
main {
  height: inherit;
}

.emojione {
  width: 32px;
}

a {
  text-decoration: none;
}

main > article {
  display: flex;
  height: calc(100% - 56px);
}

main > article article {
  width: calc(100% - 150px);
  height: 100%;
  overflow-y: scroll;
  padding: 16px;
  box-sizing: border-box;
}

main > article article h1 {
  margin-top: 0;
  font-weight: bold;
}

nav {
  width: 150px;
  border-right: 1px solid #DEDEDE;
  height: 100%;
  overflow-y: scroll;
}

header {
  position: relative;
}
