@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

html {
  background: #FEFEFE;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: inherit;
  color: #212121;
}

#root,
#root > div,
main {
  height: inherit;
}

main {
  font-weight: 100;
  font-family: 'Lato', sans-serif;
}

.small .emojione {
  font-size: 22px;
}

.medium .emojione {
  font-size: 26px;
}

.large .emojione {
  font-size: 30px;
}

a {
  text-decoration: none;
  font-weight: bolder;
  color: #757575;
}

h1,
h2 {
  color: #757575;
  font-weight: bolder;
}

h1 {
  font-size: 32px;
  margin-bottom: 24px;
}

h2,
.page > section h1 {
  font-size: 24px;
  margin-bottom: 16px;
}

.docs {
  display: flex;
  height: calc(100% - 56px);
}

.page {
  width: calc(100% - 200px);
  height: 100%;
  overflow-y: auto;
  padding: 24px;
  box-sizing: border-box;
}

.page > section:not(:last-child) {
  margin-bottom: 16px;
}

.github {
  width: 24px;
}

.emojione {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin-top: -4px;
}
